@use "~bootstrap/scss/bootstrap" as *;

body {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

// Header
.highlight-navbar {
    border-bottom: 2px solid #0282F9;
    color: #0282F9;
}

header {}

.header-flex {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-header {
        flex-basis: 30%;
    }

    .navbar-header {
        height: 100%;
    }

    .navbar-header-flex {
        gap: 15px;
        font-weight: bold;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    ul {
        margin: 0;
    }

    li {
        height: 100%;
        text-transform: uppercase;
        line-height: 150px;
        cursor: pointer;
    }

    .sandwich-menu {
        color: gray;
        font-weight: bold;
        padding-left: 30px;
        margin-left: 20px;
        text-align: end;
        border-bottom: 2px solid #0282F9;
    }
}

.jumbotron-img>img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: 100% 50%;
}